# Ignore all contents inside the 'data' folder but keep the folder itself
data/*
!data/.gitkeep

# Ignore all contents inside the 'generated_results' folder but keep the folder itself
generated_results/*
!generated_results/.gitkeep

# Ignore all contents inside the 'generated_similarity' folder but keep the folder itself
generated_similarity/*
!generated_similarity/.gitkeep

# Ignore dependencies (optional, if virtual environment or similar is being used)
*.pyc
__pycache__/
*.env
*.log

# Ignore the report files if dynamically generated
*.html
*.xlsx
